/**
 * Site Navigation (Top Nav Bar, Flyout Menus, Appearance Switch, Mobile Nav Screen, Local Nav)
 * -------------------------------------------------------------------------- */

/* nav ------------------------------------------------------------------- */

.site-nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: var(--zena-z-index-nav);
  width: 100%;
  pointer-events: none;
  transition: background-color 0.5s;
}

@media (min-width: 960px) {
  .site-nav {
    position: fixed;
  }
}

/* nav-bar ---------------------------------------------------------------- */

.nav-bar {
  position: relative;
  height: var(--zena-nav-height);
  pointer-events: none;
  white-space: nowrap;
  transition: background-color 0.25s;
}

.nav-bar.screen-open {
  transition: none;
  background-color: var(--rad-surface-chrome);
  border-bottom: 1px solid var(--rad-neutral-stroke-faint);
}

.nav-bar:not(.home) {
  background-color: var(--rad-surface-chrome);
  border-bottom: 1px solid var(--rad-neutral-stroke-faint);
}

.nav-bar.home.top {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.nav-bar.home:not(.top) {
  background-color: var(--rad-surface);
  border-bottom: 1px solid var(--rad-neutral-stroke-faint);
}

@media (min-width: 960px) {
  .nav-bar:not(.home) {
    background-color: var(--rad-surface-chrome);
    border-bottom: 1px solid var(--rad-neutral-stroke-faint);
  }
}

.nav-bar > .wrapper {
  padding: 0 8px 0 24px;
}

@media (min-width: 768px) {
  .nav-bar > .wrapper {
    padding: 0 32px;
  }
}

@media (min-width: 960px) {
  .nav-bar.has-sidebar > .wrapper {
    padding: 0;
  }
}

.nav-bar > .wrapper > .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(var(--zena-layout-max-width) - 64px);
  height: var(--zena-nav-height);
  pointer-events: none;
}

.nav-bar > .wrapper > .container > .title,
.nav-bar > .wrapper > .container > .content {
  pointer-events: none;
}

.nav-bar > .wrapper > .container * {
  pointer-events: auto;
}

@media (min-width: 960px) {
  .nav-bar.has-sidebar > .wrapper > .container {
    max-width: 100%;
  }
}

.nav-bar > .wrapper > .container > .title {
  flex-shrink: 0;
  height: calc(var(--zena-nav-height) - 1px);
  transition: background-color 0.5s;
}

@media (min-width: 960px) {
  .nav-bar.has-sidebar > .wrapper > .container > .title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 32px;
    width: var(--zena-sidebar-width);
    height: var(--zena-nav-height);
    background-color: transparent;
  }
}

@media (min-width: 1440px) {
  .nav-bar.has-sidebar > .wrapper > .container > .title {
    padding-left: max(
      32px,
      calc((100% - (var(--zena-layout-max-width) - 64px)) / 2)
    );
    width: calc(
      (100% - (var(--zena-layout-max-width) - 64px)) / 2 +
        var(--zena-sidebar-width) - 32px
    );
  }
}

.nav-bar > .wrapper > .container > .content {
  flex-grow: 1;
}

@media (min-width: 960px) {
  .nav-bar.has-sidebar > .wrapper > .container > .content {
    position: relative;
    z-index: 1;
    padding-right: 32px;
    padding-left: var(--zena-sidebar-width);
  }
}

@media (min-width: 1440px) {
  .nav-bar.has-sidebar > .wrapper > .container > .content {
    padding-right: calc((100vw - var(--zena-layout-max-width)) / 2 + 32px);
    padding-left: calc(
      (100vw - var(--zena-layout-max-width)) / 2 + var(--zena-sidebar-width)
    );
  }
}

.nav-bar > .wrapper > .container > .content > .content-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--zena-nav-height);
  transition: background-color 0.5s;
}

@media (min-width: 960px) {
  .nav-bar:not(.home.top) > .wrapper > .container > .content > .content-body {
    position: relative;
    background-color: var(--rad-surface-chrome);
  }

  .nav-bar:not(.has-sidebar):not(.home.top)
    > .wrapper
    > .container
    > .content
    > .content-body {
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .nav-bar > .wrapper > .container > .content > .content-body {
    column-gap: 0.5rem;
  }
}

.nav-bar .menu + .appearance::before,
.nav-bar .menu + .social-links::before,
.nav-bar .appearance + .social-links::before {
  margin-right: 8px;
  margin-left: 8px;
  width: 1px;
  height: 24px;
  background-color: var(--rad-neutral-stroke-faint);
  content: '';
}

.nav-bar .menu + .appearance::before {
  margin-right: 16px;
}

.nav-bar .appearance + .social-links::before {
  margin-left: 16px;
}

.nav-bar .social-links {
  margin-right: -8px;
}

.nav-bar > .divider {
  width: 100%;
  height: 1px;
}

@media (min-width: 960px) {
  .nav-bar.has-sidebar > .divider {
    padding-left: var(--zena-sidebar-width);
  }
}

@media (min-width: 1440px) {
  .nav-bar.has-sidebar > .divider {
    padding-left: calc(
      (100vw - var(--zena-layout-max-width)) / 2 + var(--zena-sidebar-width)
    );
  }
}

.nav-bar > .divider > .divider-line {
  width: 100%;
  height: 1px;
  transition: background-color 0.5s;
}

.nav-bar:not(.home) > .divider > .divider-line {
  background-color: var(--rad-neutral-stroke-faint);
}

@media (min-width: 960px) {
  .nav-bar:not(.home.top) > .divider > .divider-line {
    background-color: var(--rad-neutral-stroke-faint);
  }

  .nav-bar:not(.has-sidebar):not(.home.top) > .divider {
    background-color: var(--rad-neutral-stroke-faint);
  }
}

/* nav-bar-title ----------------------------------------------------------- */

.nav-bar-title .title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
  width: 100%;
  height: var(--zena-nav-height);
  font-size: 16px;
  font-weight: 600;
  color: var(--rad-neutral-text-emphasis);
  transition: opacity 0.25s;
}

@media (min-width: 960px) {
  .nav-bar-title .title {
    flex-shrink: 0;
  }

  .nav-bar-title.has-sidebar .title {
    border-bottom-color: var(--rad-neutral-stroke-faint);
  }
}

.nav-bar-title .logo {
  margin-right: 8px;
  height: var(--zena-nav-logo-height);
}

/* nav-bar-menu ------------------------------------------------------------ */

.nav-bar-menu {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar-menu {
    display: flex;
  }
}

.nav-bar-menu-link {
  display: flex;
  align-items: center;
  padding: 0 12px;
  line-height: var(--zena-nav-height);
  font-size: 14px;
  font-weight: 500;
  color: var(--rad-neutral-text-emphasis);
  transition: color 0.25s;
}

.nav-bar-menu-link.active,
.nav-bar-menu-link:hover {
  color: var(--zena-c-brand-1);
}

/* flyout ---------------------------------------------------------------- */

.flyout {
  position: relative;
}

.flyout:hover {
  color: var(--zena-c-brand-1);
  transition: color 0.25s;
}

.flyout:hover > .flyout-toggle .text {
  color: var(--rad-neutral-text-normal);
}

.flyout.active > .flyout-toggle .text {
  color: var(--zena-c-brand-1);
}

.flyout.active:hover > .flyout-toggle .text {
  color: var(--zena-c-brand-2);
}

.flyout > .flyout-toggle[aria-expanded='false'] + .menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
}

.flyout:hover > .menu,
.flyout > .flyout-toggle[aria-expanded='true'] + .menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.flyout > .flyout-toggle {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: var(--zena-nav-height);
  color: var(--rad-neutral-text-emphasis);
  transition: color 0.5s;
}

.flyout > .flyout-toggle .text {
  display: flex;
  align-items: center;
  line-height: var(--zena-nav-height);
  font-size: 14px;
  font-weight: 500;
  color: var(--rad-neutral-text-emphasis);
  transition: color 0.25s;
}

.flyout > .flyout-toggle .text-icon {
  margin-left: 4px;
  font-size: 14px;
}

.flyout > .menu {
  position: absolute;
  top: calc(var(--zena-nav-height) / 2 + 20px);
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.25s,
    visibility 0.25s,
    transform 0.25s;
}

/* flyout-menu ------------------------------------------------------------------ */

.flyout-menu {
  border-radius: 12px;
  padding: 12px;
  min-width: 128px;
  border: 1px solid var(--rad-neutral-stroke-faint);
  background-color: var(--rad-surface-overlay);
  box-shadow: var(--rad-shadow-3, 0 10px 15px -3px rgba(0, 0, 0, 0.2));
  transition: background-color 0.5s;
  max-height: calc(100vh - var(--zena-nav-height));
  overflow-y: auto;
}

.flyout-menu-group {
  margin: 12px -12px 0;
  border-top: 1px solid var(--rad-neutral-stroke-faint);
  padding: 12px 12px 0;
}

.flyout-menu-group:first-child {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
}

.flyout-menu-group .title {
  padding: 0 12px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 600;
  color: var(--rad-neutral-text-normal);
  white-space: nowrap;
  transition: color 0.25s;
}

.flyout-menu-group + .flyout-menu-link {
  margin: 12px -12px 0;
  border-top: 1px solid var(--rad-neutral-stroke-faint);
  padding: 12px 12px 0;
}

.flyout-menu-link .link {
  display: block;
  border-radius: 6px;
  padding: 0 12px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  color: var(--rad-neutral-text-emphasis);
  white-space: nowrap;
  transition:
    background-color 0.25s,
    color 0.25s;
}

.flyout-menu-link .link:hover {
  color: var(--zena-c-brand-1);
  background-color: var(--rad-neutral-fill-subtle);
}

.flyout-menu-link .link.active {
  color: var(--zena-c-brand-1);
}

/* Appearance switch ------------------------------------------------------- */

.nav-bar-appearance {
  display: none;
}

@media (min-width: 1280px) {
  .nav-bar-appearance {
    display: flex;
    align-items: center;
  }
}

.switch {
  position: relative;
  border-radius: 11px;
  display: block;
  width: 40px;
  height: 22px;
  flex-shrink: 0;
  border: 1px solid var(--rad-neutral-stroke-subtle);
  background-color: var(--rad-neutral-fill-subtle);
  transition: border-color 0.25s !important;
}

.switch:hover {
  border-color: var(--zena-c-brand-1);
}

.switch .check {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--rad-surface);
  box-shadow: var(--rad-shadow-1, 0 1px 3px rgba(0, 0, 0, 0.1));
  transition: transform 0.25s !important;
}

.switch .icon {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  overflow: hidden;
}

.switch .icon [class^='icon-'] {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  color: var(--rad-neutral-text-normal);
}

.dark .switch .icon [class^='icon-'],
.rad-theme-dark .switch .icon [class^='icon-'] {
  color: var(--rad-neutral-text-emphasis);
}

.dark .switch .icon .sun,
.rad-theme-dark .switch .icon .sun {
  opacity: 0;
}

.dark .switch .icon .moon,
.rad-theme-dark .switch .icon .moon {
  opacity: 1;
}

.switch .icon .sun {
  opacity: 1;
  transition: opacity 0.25s;
}

.switch .icon .moon {
  opacity: 0;
  transition: opacity 0.25s;
}

.dark .switch .check,
.rad-theme-dark .switch .check {
  transform: translateX(18px);
}

/* Social links ----------------------------------------------------------- */

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-bar-social-links {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  color: var(--rad-neutral-text-normal);
  transition: color 0.25s;

  &:hover {
    color: var(--rad-neutral-text-emphasis);
  }

  svg,
  [class^='icon-'] {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

/* Hamburger button ------------------------------------------------------- */

.nav-bar-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: var(--zena-nav-height);

  @media (min-width: 768px) {
    display: none;
  }

  .container {
    position: relative;
    width: 16px;
    height: 14px;
    overflow: hidden;
  }

  .top,
  .middle,
  .bottom {
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: var(--rad-neutral-text-emphasis);
    transition:
      top 0.25s,
      background-color 0.5s,
      transform 0.25s;
  }

  .top {
    top: 0;
    left: 0;
    transform: translateX(0);
  }

  .middle {
    top: 6px;
    left: 0;
    transform: translateX(0);
  }

  .bottom {
    top: 12px;
    left: 0;
    transform: translateX(0);
  }

  &:hover {
    .top {
      transform: translateX(4px);
    }
    .middle {
      transform: translateX(0);
    }
    .bottom {
      transform: translateX(8px);
    }
  }

  &.active {
    .top {
      top: 6px;
      transform: translateX(0) rotate(225deg);
    }
    .middle {
      top: 6px;
      transform: translateX(16px);
    }
    .bottom {
      top: 6px;
      transform: translateX(0) rotate(135deg);
    }

    &:hover {
      .top,
      .middle,
      .bottom {
        background-color: var(--rad-neutral-text-normal);
      }
    }
  }
}

/* Mobile Nav Screen ------------------------------------------------------ */

.nav-screen {
  position: fixed;
  top: var(--zena-nav-height);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 32px;
  width: 100%;
  background-color: var(--rad-surface-chrome);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.25s,
    visibility 0.25s,
    background-color 0.5s;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    * {
      pointer-events: auto;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }

  > .container {
    margin: 0 auto;
    padding: 24px 0 96px;
    max-width: 288px;
    transform: translateY(-8px);
    transition: transform 0.25s ease;
  }

  &.open > .container {
    transform: translateY(0);
  }

  .nav-screen-menu-link {
    display: block;
    border-bottom: 1px solid var(--rad-neutral-stroke-faint);
    padding: 12px 0 11px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: var(--rad-neutral-text-emphasis);
    transition:
      border-color 0.25s,
      color 0.25s;

    &:hover {
      color: var(--zena-c-brand-1);
    }
  }

  .nav-screen-appearance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 12px 14px 12px 16px;
    background-color: var(--rad-surface-sunken);
    margin-top: 16px;

    .text {
      line-height: 24px;
      font-size: 12px;
      font-weight: 500;
      color: var(--rad-neutral-text-normal);
    }
  }

  .nav-screen-social-links {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}

/* local-nav (Mobile on-this-page dropdown) ------------------------------- */

.local-nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--zena-z-index-local-nav);
  border-bottom: 1px solid var(--rad-neutral-stroke-faint);
  width: 100%;
  background-color: var(--rad-surface-chrome);
}

.local-nav.fixed {
  position: fixed;
}

@media (min-width: 960px) {
  .local-nav {
    top: var(--zena-nav-height);
  }

  .local-nav.has-sidebar {
    padding-left: var(--zena-sidebar-width);
  }

  .local-nav.empty {
    display: none;
  }
}

@media (min-width: 1280px) {
  .local-nav {
    display: none;
  }
}

@media (min-width: 1440px) {
  .local-nav.has-sidebar {
    padding-left: calc(
      (100vw - var(--zena-layout-max-width)) / 2 + var(--zena-sidebar-width)
    );
  }
}

.local-nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.local-nav .menu {
  display: flex;
  align-items: center;
  padding: 12px 24px 11px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  color: var(--rad-neutral-text-normal);
  transition: color 0.5s;
}

.local-nav .menu:hover {
  color: var(--rad-neutral-text-emphasis);
}

@media (min-width: 768px) {
  .local-nav .menu {
    padding: 0 32px;
  }
}

@media (min-width: 960px) {
  .local-nav .menu {
    display: none;
  }
}

.local-nav .menu-icon {
  margin-right: 8px;
  font-size: 14px;
}

.local-nav-outline {
  padding: 12px 20px 11px;
}

@media (min-width: 960px) {
  .local-nav-outline {
    padding: 12px 36px 11px;
  }
}

.local-nav-outline > button {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: var(--rad-neutral-text-normal);
  transition: color 0.5s;
  position: relative;
}

.local-nav-outline > button:hover,
.local-nav-outline > button.open {
  color: var(--rad-neutral-text-emphasis);
}

.local-nav-outline .icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  font-size: 14px;
  transform: rotate(0);
  transition: transform 0.25s;
}

@media (min-width: 960px) {
  .local-nav-outline > button {
    font-size: 14px;
  }

  .local-nav-outline .icon {
    font-size: 16px;
  }
}

.local-nav-outline > button.open > .icon {
  transform: rotate(90deg);
}

.local-nav-outline .items {
  position: absolute;
  top: 40px;
  right: 16px;
  left: 16px;
  display: grid;
  gap: 1px;
  border: 1px solid var(--rad-neutral-stroke-subtle);
  border-radius: 8px;
  background-color: var(--rad-neutral-stroke-faint);
  max-height: calc(var(--zena-vh, 100vh) - 86px);
  overflow: hidden auto;
  box-shadow: var(--rad-shadow-3, 0 10px 15px -3px rgba(0, 0, 0, 0.2));
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

.local-nav-outline .items[hidden] {
  display: none;
}

@media (min-width: 960px) {
  .local-nav-outline .items {
    right: auto;
    left: calc(var(--zena-sidebar-width) + 32px);
    width: 320px;
  }
}

.local-nav-outline .header {
  background-color: var(--rad-surface-sunken);
}

.local-nav-outline .top-link {
  display: block;
  padding: 0 16px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  color: var(--zena-c-brand-1);
}

.local-nav-outline .outline {
  padding: 8px 0;
  background-color: var(--rad-surface-sunken);
}
