/**
 * Markdown Prose Typography (Headings, Paragraphs, Links, Lists, Tables, Blockquotes)
 * -------------------------------------------------------------------------- */

/* Headings --------------------------------------------------------------- */

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  position: relative;
  font-weight: 600;
  color: var(--rad-neutral-text-emphasis);
  outline: none;
}

.prose h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.prose h2 {
  margin: 48px 0 16px;
  border-top: 1px solid var(--rad-neutral-stroke-faint);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.prose h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

.prose h4 {
  margin: 24px 0 0;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-size: 18px;
}

.prose .header-anchor {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -0.87em;
  font-weight: 500;
  user-select: none;
  opacity: 0;
  text-decoration: none;
  color: var(--zena-c-brand-1);
  transition:
    color 0.25s,
    opacity 0.25s;
}

.prose .header-anchor:before {
  content: var(--zena-header-anchor-symbol, '#');
}

.prose h1:hover .header-anchor,
.prose h1 .header-anchor:focus,
.prose h2:hover .header-anchor,
.prose h2 .header-anchor:focus,
.prose h3:hover .header-anchor,
.prose h3 .header-anchor:focus,
.prose h4:hover .header-anchor,
.prose h4 .header-anchor:focus,
.prose h5:hover .header-anchor,
.prose h5 .header-anchor:focus,
.prose h6:hover .header-anchor,
.prose h6 .header-anchor:focus {
  opacity: 1;
}

@media (min-width: 768px) {
  .prose h1 {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 32px;
  }
}

.prose h2 .header-anchor {
  top: 24px;
}

/* Paragraphs & Inline Elements ------------------------------------------- */

.prose p,
.prose summary {
  margin: 16px 0;
}

.prose p {
  line-height: 28px;
  color: var(--rad-neutral-text-emphasis);
}

.prose blockquote {
  margin: 16px 0;
  border-left: 2px solid var(--rad-neutral-stroke-moderate);
  padding-left: 16px;
  color: var(--rad-neutral-text-normal);
}

.prose blockquote > p {
  margin: 0;
  font-size: 16px;
}

.prose a {
  font-weight: 500;
  color: var(--zena-c-brand-1);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition:
    color 0.25s,
    opacity 0.25s;
}

.prose a:hover {
  color: var(--zena-c-brand-2);
}

.prose strong {
  font-weight: 600;
}

/* Lists ------------------------------------------------------------------ */

.prose ul,
.prose ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.prose ul {
  list-style: disc;
}

.prose ol {
  list-style: decimal;
}

.prose li {
  line-height: 28px;
}

.prose li + li {
  margin-top: 4px;
}

.prose li > ol,
.prose li > ul {
  margin: 4px 0 0;
}

/* Tables ----------------------------------------------------------------- */

.prose table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
  width: 100%;
}

.prose tr {
  border-top: 1px solid var(--rad-neutral-stroke-faint);
  transition: background-color 0.25s;
}

.prose tr:nth-child(2n) {
  background-color: var(--rad-surface-sunken);
}

.prose th,
.prose td {
  border: 1px solid var(--rad-neutral-stroke-faint);
  padding: 10px 16px;
  text-align: left;
  font-size: 14px;
}

.prose th {
  font-weight: 600;
  color: var(--rad-neutral-text-emphasis);
  background-color: var(--rad-surface-chrome);
}

/* Horizontal Rule -------------------------------------------------------- */

.prose hr {
  margin: 32px 0;
  border: none;
  border-top: 1px solid var(--rad-neutral-stroke-faint);
}
